@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.custom-light-scrollbar::-webkit-scrollbar {
	width: 5px !important;
}

.custom-light-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1 !important;
}

/* Handle */
.custom-light-scrollbar::-webkit-scrollbar-thumb {
	background: rgb(202, 202, 202) !important;
}

/* Handle on hover */
.custom-light-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgb(182, 182, 182) !important;
	display: block !important;
}

.custom-dark-scrollbar::-webkit-scrollbar {
	width: 5px !important;
}

.custom-dark-scrollbar::-webkit-scrollbar-track {
	background: #9ca3af !important;
}

/* Handle */
.custom-dark-scrollbar::-webkit-scrollbar-thumb {
	background: #6b7280 !important;
}

/* Handle on hover */
.custom-dark-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #4b5563 !important;
	display: block !important;
}

.remove-scrollbar::-webkit-scrollbar {
	display: none;
}

.remove-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
